

service: remarkable-times

plugins:
  - serverless-dotenv-plugin

provider:
  name: aws
  runtime: nodejs12.x
  region: us-east-1


functions:
  newsLetterHandler:
    handler: src/handler/newsLetterHandler.main
    events:
      - schedule: cron(0 11 * * ? *)
      